
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Playfair+Display&family=Raleway:wght@100&family=Tai+Heritage+Pro&display=swap');
*{
font-family:'Cormorant Garamond';
color:white
}
  body{
    background-color: rgb(0, 0, 0);
    margin: 0%;
}
header{
    display: flex;
    /*align-items: center;*/
    background: rgba(241, 141, 42, 0.35); /* El último valor (0.5) controla la opacidad (0 es completamente transparente, 1 es completamente opaco) */
    /*width: 100%;*/
    /*padding: 10px;*/
}
.inicio{
    background-image: url(./imagenes/josh-beech-tXJhAFVOHVk-unsplash.jpg);
    background-size:cover;
    background-position: 50%;
    background-attachment: fixed;
}
.titulo{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}
h1{
    /*font-family:'Cormorant Garamond' ;*/
    background-color: rgb(0, 0, 0,0.5);
    width: 650px;
    color: rgb(255, 255, 255);   
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    
    padding: 10px 10px  ;
}
.imagen{
    /*display: inline;*/
    /*justify-content:center;*/
    position: fixed; /* Mantiene la imagen fija en la ventana del navegador */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    height: 100%; /* Ocupa el 100% de la altura de la pantalla */
    object-fit: cover; /* Ajusta la imagen para llenar todo el espacio, manteniendo la proporción */
    z-index: -1;  /*Coloca la imagen detrás de otros elementos en la página */
    
}
.logo{  
    /*background-color: rgb(red, green, blue,0.5);*/
    /*display: inline;*/
    width: 230px;
    height: auto;  
    padding: 10px 10px;  
}
ul{
    width: 100%;
    align-items:center;
    color: white;   
    /*display: inline; */
    display: flex;  
    font-size:12px;
    justify-content: right;
    list-style-type:none;
    gap: 10px;
}
.listaprincipal{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    /*display: inline;*/
    padding: 14px 25px;  
    /*justify-content: center;*/
    /*border-color: black;*/
    border-radius: 10px 10px;
    border: 1px solid white;
    margin: 2px;
}
.ancla{ 
    font-size: 35px;
    padding: 5px;   
}
h2{
    justify-content: center;
    /*font-family:'Cormorant Garamond';*/
    text-transform: uppercase;
    color: white;
}
.tarjeta{
    width: 400px;
    height: 420px;
}
.img_card{
    width: 100%;
    height: 100%;
}
.tarjetas{
    display: flex;
    gap: 20px;
}
.nuestrotrabajo{
    background-image: url();
    background-size:cover;
    background-position: 50%;
    /*background-attachment: fixed;*/
    margin: 10px;
}
h2{
   
    padding: 40px;
    text-decoration:underline;
}
.div_h2{
    display: flex;
    justify-content: left;
}
.product{
    font-size: 1.6em;
    align-content: center;
}
.container{
    display: table;
    max-width: 450px;
}
